@mixin flexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin btn {
  display: inline-block;
  margin: 20px auto;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: $textColor;
  transition: transform 1.3s;
}

@mixin btnHover {
  cursor: pointer;
  background: $primColor;
  transition: 0.9s;
  font-weight: 300;
}

@mixin subTitle {
  font-size: $baseSizeFont * 5;
  text-align: center;
}

@mixin textHover {
  transition-duration: 0.9s;
    color: #ff004f;
    cursor: pointer;
    animation: sca;
    
}