// Closing tab_menu icon
.fa-times,
.fa-bars {
  display: none;
}

@media only screen and (max-width: 600px) {
  // ------------- Header Section -----------------------------
  #header {
    background-image: url(/src/images/background_image2.png);
    ul {
      background: $primColor;
      position: fixed;
      top: 0;
      right: -150px;
      width: 150px;
      height: 30vh;
      z-index: 10;
      border-radius: 10px;
      padding-top: 50px;
      transition: right 1.1s;
      li {
        display: block;
        margin: 60px;
      }
      .fa-times {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
      }
    }
    .container {
      .header-text p {
        margin-top: 15%;
        font-size: $baseSizeFont * 5;
      }
      .header-text h1 {
        font-size: 50px;
        margin-top: 35px;
      }
    }

    // Closing tab_menu icon
    .fa-times,
    .fa-bars {
      display: block;
    }
  } // ------------- About Section -----------------------------
  
}
