// colors
$textColor:#fff;
$primColor:#e61054bd;
$secondColor: green;

// fonts
$baseSizeFont: 10px;
$baseFamilyFont:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
"Lucida Sans", Arial, sans-serif;



